@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
* { 
    font-family: 'GFS Didot', serif;   
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {    
    width: 100%;
    background-image: url('sky-cross.jpg');
    background-repeat: no-repeat;
    background-position: 60% 7%;
    background-size: 180%;
}

.public {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;    
}

.public__headerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.public__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: .7rem;
    margin: 1rem;
    padding: 0 1rem; 
    border: .3rem solid;
    background-color: rgba(232, 233, 159, 0.651);
}

.public__title {    
    color: black;
    flex: 0;
    padding: 0 1rem;
    
}

.public__title:hover {
    color: #fff;    
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 .7rem #fff, 0 0 .8rem #fff, 0 0 .9rem rgb(240, 210, 111), 0 0 1rem rgb(240, 210, 111), 0 0 1.1rem rgb(240, 210, 111), 0 0 1.2rem rgb(240, 210, 111), 0 0 1.3rem rgb(240, 210, 111);
    }
    to {
        text-shadow: 0 0 .7rem #fff, 0 0 .8rem rgb(240, 210, 111), 0 0 .9rem rgb(240, 210, 111), 0 0 1rem rgb(240, 210, 111), 0 0 1.1rem rgb(240, 210, 111), 0 0 1.2rem rgb(240, 210, 111), 0 0 1.3rem rgb(240, 210, 111);
    }
  }

.public__quote {
    flex: 4;
    font-size: .75rem;    
    margin: .2rem 0;
    border-block: .3rem solid;
    padding: .2rem 1rem; 
}

.public__saintName {
    padding: 0;
    margin: 0;
    text-align: right;
}

.public__nav {
    padding: 0; 
    border-radius: .7rem;
    border: .3rem;
    margin: 1rem;
    margin-top: 0;
    border-style: solid;     
    background-color: rgba(232, 233, 159, 0.651);
}

.public__nav ul {
    display: flex;
    flex-direction: row;    
    list-style-type: none;
    margin: 0;
    padding: 0;    
    justify-content: space-between;
}

.public__nav li {
    flex: 1;
    border: .1rem;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    text-align: center;
}

.public__nav li:hover {
    color: #fff;
    background-color: rgba(159, 160, 233, 0.384);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.public__main {
    text-align: center;
    align-items: left;
}