@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
* { 
    font-family: 'GFS Didot', serif;   
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url('sky-cross.jpg');
    background-repeat: no-repeat;
    background-position: 50% 4%;
    background-size: 180%;
}

@media (max-width: 770px) {
    body {
        background-position: 50% 4%;
        background-size: 430%;
    }
}

.public {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Start of Header Styles*/
.public__headerContainer {
    width: 100%;
    display: flex;
    flex-grow: 1; 
    justify-content: space-between; 
    
}

.public__header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .7rem;
    margin: 1rem;
    padding: 0 1rem;
    border: .3rem solid;
    background-color: rgba(232, 233, 159, 0.651);
}

@media (max-width: 770px) {
    .public__header {
        flex-direction: column;
        width: 100%;
    }
}

.public__title {    
    color: black;
    padding: 0 1rem;    
}

.public__title:hover {
    color: #fff;    
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 .7rem #fff, 0 0 .8rem #fff, 0 0 .9rem rgb(240, 210, 111), 0 0 1rem rgb(240, 210, 111), 0 0 1.1rem rgb(240, 210, 111), 0 0 1.2rem rgb(240, 210, 111), 0 0 1.3rem rgb(240, 210, 111);
    }
    to {
        text-shadow: 0 0 .7rem #fff, 0 0 .8rem rgb(240, 210, 111), 0 0 .9rem rgb(240, 210, 111), 0 0 1rem rgb(240, 210, 111), 0 0 1.1rem rgb(240, 210, 111), 0 0 1.2rem rgb(240, 210, 111), 0 0 1.3rem rgb(240, 210, 111);
    }
  }

.quote_text {
    flex: 4;
    font-size: .75rem;    
    margin: .2rem 0;
    border-block: .3rem solid;
    padding: .2rem 1rem; 
}

.saint_quote {
    padding: 0;
    margin: 0;
    text-align: right;
}

/* Nav styles */
.public__navContainer {
    width: 100%;
    display: flex;
    flex-grow: 1; 
    justify-content: space-between; 
    
}

.public__nav {
    width: 100%;
    padding: 0;     
    margin: 1rem;
    margin-top: 0;
}

.public__nav ul {
    display: flex;
    flex-direction: row;    
    list-style-type: none;
    margin: 0;
    padding: 0;    
    justify-content: space-between;
}

.public__nav a{
    color:black;
    border-radius: .7rem;
    border: .3rem;
    border-style: solid;     
    background-color: rgba(232, 233, 159, 0.651);
    flex: 1;
    text-align: center;
}

.public__nav li:hover {
    color: white;
    border-color:black;    
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.dash__headerContainer {
    width: 100%;
    display: flex;
    flex-grow: 1; 
    justify-content: space-between; 
    
}

.dash__header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .7rem;
    margin: 1rem;
    padding: 0 1rem;
    border: .3rem solid;
    background-color: rgba(232, 233, 159, 0.651);
}

@media (max-width: 770px) {
    .dash__header {
        flex-direction: column;
        width: 100%;
    }
}

.dash__title {    
    color: black;
    padding: 0 1rem;    
}

.dash__title:hover {
    color: #fff;    
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 .7rem #fff, 0 0 .8rem #fff, 0 0 .9rem rgb(240, 210, 111), 0 0 1rem rgb(240, 210, 111), 0 0 1.1rem rgb(240, 210, 111), 0 0 1.2rem rgb(240, 210, 111), 0 0 1.3rem rgb(240, 210, 111);
    }
    to {
        text-shadow: 0 0 .7rem #fff, 0 0 .8rem rgb(240, 210, 111), 0 0 .9rem rgb(240, 210, 111), 0 0 1rem rgb(240, 210, 111), 0 0 1.1rem rgb(240, 210, 111), 0 0 1.2rem rgb(240, 210, 111), 0 0 1.3rem rgb(240, 210, 111);
    }
  }

.dash__quote {
    flex: 4;
    font-size: .75rem;    
    margin: .2rem 0;
    border-block: .3rem solid;
    padding: .2rem 1rem; 
}

.dash__saintName {
    padding: 0;
    margin: 0;
    text-align: right;
}

/* Nav styles */
.dash__navContainer {
    width: 100%;
    display: flex;
    flex-grow: 1; 
    justify-content: space-between; 
    
}

.dash__nav {
    width: 100%;
    padding: 0;     
    margin: 1rem;
    margin-top: 0;
}

.dash__nav ul {
    display: flex;
    flex-direction: row;    
    list-style-type: none;
    margin: 0;
    padding: 0;    
    justify-content: space-between;
}

.dash__nav a{
    color:black;
    border-radius: .7rem;
    border: .3rem;
    border-style: solid;     
    background-color: rgba(232, 233, 159, 0.651);
    flex: 1;
    text-align: center;
}

.dash__nav li:hover {
    color: white;
    border-color:black;    
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}


/* Main section styles */
.public__mainContainer {
    width: 100%;
    display: flex;
    flex-grow: 1; 
    justify-content: space-between; 
    
}

.public__main {    
    display: flex;
    flex-grow: 1; 
    justify-content: center;
    border: .3rem solid;
    border-radius: .7rem;
    margin: 0 1rem;
    padding: 0 1rem;
    background-color: rgba(232, 233, 159, 0.651);
}

.public__main h2 {
    
}

.public__footer { 
    flex: 1;
    height: 10vh;
}