@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* { 
    font-family: 'Open Sans', sans-serif;    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.title {
    justify-content: center;
    width: 100%;
}